

.about {
    padding-top: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
   
    margin: .25em;
}

p {
    font-size: 1em;
   
}

button {
    width: 70vw;
    height: 3em;
    cursor: pointer;
    font-size: 1.5em;

    border: none;
    border-radius: 10%;
    margin: auto;
    margin-top: 1em;    
}

.who {
    width: 70vw;
    padding: 5em;
    margin: auto;
    margin-top: 3em;

}

.line {
    height: .2em;
    width: 6em;

    margin: auto;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.2em;

    margin-bottom: .5em;
}

.gallery {
    width: 70vw;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.grid-container {
    display: grid;
    justify-items: center;
    max-width: 80vw;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2rem;
    padding: 0 1em 0;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;    
}

.link {
    background: none !important;
  
    padding: 1em 2em;
    margin: 0 1em;
    border-radius: 10%;
    font-size: 1.5em;
    text-decoration: underline;
}

.lbutton1 {

    padding: 1em 2em;
    margin: 0 1em;
    border-radius: 10%;
    font-size: 1.5em;
    width: 70vw;
    margin: auto;
}  

.lbutton2 {

    padding: 1em 2em;
    margin: 0 1em;
    border-radius: 10%;
    font-size: 1.5em;
}   

/* Footer */




@media only screen and (max-width: 1207px) {
    /* .options {
        display: none;
    } */

    .menu {
        display: none ;
    }

    .burger {
        display: block;
    }

    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger.active .bar:nth-child(1) {
        transform: translateY(.5em) rotate(45deg);
    }

    .burger.active .bar:nth-child(3) {
        transform: translateY(-0.5em) rotate(-45deg);
    }
    
    .options {
        position: fixed;
        left: -100%;
        top: 5em;
        flex-direction: column;

        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 1em 0;
    }

    .options.active {
        left: 0;
    }
}