@import '~bootstrap/scss/bootstrap.scss';


$body-bg: #fa0000;
$body-color: #0b12d4;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .link {
    text-decoration: none;
    color: inherit;
  }
}

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
