body {
  background-color: white;
  .bg_img {
    background: url("../../../public/assets/backgrounds/background.jpg");

    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo-img {
    max-width: 100%;
    display: block;
    width: 8.4rem;
  }
  .register{
    @media screen and (max-width: 768px) {
      margin: 1rem 0 3rem 0 !important;
      padding-top: 0;
      width: 100% !important;
      
    }
  
  }
}
