.Ruleta {
    .container-fluid {
      padding: 0;
    }
  
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
    }
  
    .container {
      padding: 0;
      flex: 1;
    }
  
    #ruleta {
      max-width: 100%;
      height: auto;
      transition: transform 2s ease-out;
    }
  
    #foodContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
    }
  
    .draggable {
      width: 60px; 
      height: 60px;
      background-size: cover;
      background-position: center;
    }
  
    #target-ruleta-container {
      justify-content: center;
      align-items: center;
    }
  
    @media (max-width: 768px) {
      .draggable {
        width: 50px; 
        height: 50px;
      }
  
      #ruleta {
        width: 80%;
      }
  
      #target-ruleta-container {
        width: 80%;
        justify-content: center;
      align-items: center;
      }
    }
  
    @media (max-width: 576px) {
      .draggable {
        width: 40px;
        height: 40px;
      }
  
      #ruleta {
        width: 100%;
      }
  
      #target-ruleta-container {
        width: 100%;
      }
    }
  }

  
  