
.navlink {
	padding-left: 1.5rem !important;
	padding-right: 1rem !important;

}
.nav-link {
	
	
	font-weight: 500 !important;
	transform: scale(1);
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.2);
		color: #f0ad4e !important;
	}
	&:active {
		color: #f0ad4e !important;
	}
	&:focus {
		color: #f0ad4e !important;
	}
}



.dropdown {
	.dropdown-menu {
		padding-top: 0 !important;
		padding-bottom: 0 !important;

	}
	@media (min-width: 768px) {
		.dropdown-menu {
			display: block;
		border-radius: 0%;
		opacity: 0;
		transition:all .6s;
		pointer-events: none ;
		}
		&:hover {
			.dropdown-menu {
				display: block;
				opacity: 1;
				margin-top: 0;
				pointer-events: initial;
			}
		}
	}



	.dropdown-item:hover {
		background: #f0ad4e;
	}
	//hacemos un hover

}
